@charset "UTF-8";
$base-color: #353630;
$color-font: #353630;
$color-black: #1B1B1B;

$color-grey-dark: #46473F;
$color-grey-bg: #F2F2F2;
$color-grey-border: #CCCCCC;
$color-grey-bgtable: #EBE9E9;

$color-red: #E5003E;
$color-red-g1: #F1285E;
$color-red-g2: #F1527D;
$color-red-g3: #FFBACD;
$color-red-g4: #F5AB99;

$color-orange: #F4A300;
$color-orange-g1: #FFB92C;
$color-orange-g2: #FFC550;
$color-orange-g3: #FFD175;
$color-orange-g4: #FF7e5F;

$color-green: #1EACAC;
$color-green-g1: #3CC0C0;
$color-green-g2: #61D4D4;
$color-green-g3: #94E8E8;
$color-green-g4: #C3F4F4;

$color-purple: #7611CF;
$color-purple-g1: #AC89CB;

$color-table-hover: #FEF4E2;
$color-table-active: #FEF4E2;

$color-pink: #FFD8E3;
$color-pink-light: #FFF2F6;
$color-yellow: #fff3b8;
$color-beige: #FEB47B;

$btn-orange: #F4A300;
$btn-orange-hover: #FF7D00;
$btn-red: #E5003E;
//$btn-red-hover: #E5009D;
$btn-red-hover: #D9496F;
$btn-grey: #EBE9E9;
$btn-grey-hover: #D1D1D1;
//$btn-common: #ED7C9B;
$btn-common: #ff608c;
$btn-common-hover: #D9496F;
$btn-pink: #FFD8E3;
$btn-pink-hover: #EC9EB3;
$btn-green-dark: #189696;
$btn-green-dark-hover: #157d7d;


$side-menu-width: 240px;
